.favorite-preview {
  max-width: 150px;
  margin: 0 10px 10px 10px;
  text-align: center;

  .list-item {
    height: 320px !important;
  }
}

.remove-btn {
  margin-bottom: 10px !important;
  width: 100px;
}
